
@using CapaDatos.Models;
@model  ControlAsistenciaModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/Content/yitpro.css" />
    <style>
        body {
           font-size: 10px;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 30%;
            padding: 10px;
            height: 100%; /* Should be removed. Only for demonstration */
        }

        table td {
            border-color: gray !important;
            border: 1px solid !important;
        }
        table th {
            border-color: gray !important;
            border: 2px solid !important;
        }
        .columnTitle {
            float: left;
            width: 40%;
            padding: 10px;
            height: 100%; /* Should be removed. Only for demonstration */
            text-align: center;
        }

        .column2 {
            float: left;
            width: 50%;
            padding: 10px;
            height: 100%; /* Should be removed. Only for demonstration */
        }

        .column3 {
            float: left;
            max-width: 25%;
            min-width: 20%;
            height: 100%; /* Should be removed. Only for demonstration */
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        div.a {
            font-size: small;
            line-height: 1.5;
        }

        div.botom {
            position: absolute;
            bottom: 0;
            left: 0;
        }

      

    </style>



    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <meta name="viewport" content="width=device-width" />
    <title>Informe asistencia @Model.Clave @Model.Mes @Model.Anio</title>
</head>
<body>
    @*<header>
        <h1>
            Reporte de Horarios
        </h1>
    </header>

    <div class="row">

        <div class="column3" style="max-width: 40% !important; width:40% !important">

        </div>

        <div class="column3 text-center" style="max-width: 40% !important; width:40% !important">
            <h3>
                Bitácora de asistencia del Mes de
            </h3>

            <h3>
              
            </h3>
        </div>

        <div class="column3" style="max-width: 30% !important; width:30% !important">

        </div>

    </div>*@


    <header>
        <h1>
            <div class="column3" style="max-width: 30% !important; width:30% !important">
                <img style="height:70px; width:150px;" src="~/Content/Project/Imagenes/LogoPrincipal.png" />
            </div>

        </h1>
    </header>

    <div class="row">
        <div class="column3" style="max-width: 10% !important; width:10% !important">

        </div>
        <div class="column3" style="max-width: 30% !important; width:30% !important">

        </div>

        <div class="column3 text-center" style="max-width: 40% !important; width:40% !important">
            <h3>
                Bitácora de asistencia del Mes de
            </h3>

            <h3>
                @Model.Mes   @Model.Anio
            </h3>
        </div>

        <div class="column3" style="max-width: 30% !important; width:30% !important">
            @*<img src="~/Content/Project/Imagenes/P" />*@
        </div>

    </div>



    <div class="row" style="padding-left:10px; padding-right:10px;">
        <div class="col-md-12">
            <h4 style="font-weight: bold;">
                @Model.Recurso, @Model.Clave
            </h4>
        </div>
        <div>

            <div class="" style="padding-left: 5px; padding-right: 5px; margin-bottom:20px;">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Hora Entrada</th>
                            <th class="text-center">Comida - Salida </th>
                            <th class="text-center">Comida - Regreso</th>
                            <th class="text-center">Hora de Salida</th>
                            <th class="text-right">T. Comida</th>
                            <th class="text-right">T.Trabajo</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var LstAsistencia = Model.LstAsistenciaDetalle;

                            foreach (var a in LstAsistencia)
                            {
                                DateTime HoraEntrada = DateTime.Parse(a.HoraEntrada.ToString());

                                <tr role="row">
                                    <td class=" text-center">@a.Fecha.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@HoraEntrada.ToString("HH:mm") </td>
                                    @if (a.HoraSalidaComer != null)
                                    {
                                        DateTime HoraSalidaComer = DateTime.Parse(a.HoraSalidaComer.ToString());
                                        <td class=" text-center">@HoraSalidaComer.ToString("HH:mm")</td>
                                    }
                                    else
                                    {
                                        <td class=" text-left"></td>

                                    }
                                    @if (a.HoraEntradaComer != null)
                                    {
                                        DateTime HoraEntradaComer = DateTime.Parse(a.HoraEntradaComer.ToString());
                                        <td class=" text-center">@HoraEntradaComer.ToString("HH:mm")</td>
                                    }
                                    else
                                    {
                                        <td class=" text-left"></td>

                                    }
                                    @if (a.HoraSalida != null)
                                    {
                                        DateTime HoraSalida = DateTime.Parse(a.HoraSalida.ToString());
                                        <td class=" text-center">@HoraSalida.ToString("HH:mm")</td>
                                    }
                                    else
                                    {
                                        <td class=" text-left"></td>

                                    }


                                    <td class=" text-right">@a.TiempoComidaStr</td>
                                    <td class=" text-right">@a.TiempoTrabajoStr</td>
                                </tr>


                            }
                        }


                    </tbody>

                </table>
            </div>
        </div>




    </div>
    <!--<div class="row" style="padding-left:5px; padding-right:5px;">



        <div class="col-md-3 text-center column3" style="max-width: 25% !important; width: 25% !important ">
            <h5 style="font-weight: bold;">Colaborador:</h5>
            <h5>@Model.Recurso</h5>
            <br /><br />
            <label>__________________________________________________</label>-->
    @*<p>Consorcio conformado por PLANMEDIA MEX,S.A. DE C.V. AXSIS TECNOLOGÍA, S.A. DE C.V. YCENTRO DE SOLUCIONES EN INFORMÁTICA,S.A. DE C.V.</p>*@

    <!--</div>

        <div class="col-md-3 text-center column3" style="max-width: 25% !important; width: 25% !important">
            <h5 style="font-weight: bold;">Gerente de proyectos:</h5>
            <h5>@Model.Gerente</h5>
            <br /><br />
            <label>__________________________________________________</label>
            <p>Consorcio conformado por PLANMEDIA MEX,S.A. DE C.V. AXSIS TECNOLOGÍA, S.A. DE C.V. YCENTRO DE SOLUCIONES EN INFORMÁTICA,S.A. DE C.V.</p>

        </div>


        <div class="col-md-3 text-center column3" style="max-width: 25% !important; width: 25% !important">
            <h5 style="font-weight: bold;">Validó y Autorizó:</h5>
            <h5>@Model.Responsable</h5>
            <br /><br />
            <label>__________________________________________________</label>
            <p>Responsable del recurso por parte del IFT</p>
            <p>
                Subdirección de Soporte a Sistemas y Continuidad Operativa
            </p>

        </div>



        <div class="col-md-3 text-center column3" style="max-width: 25% !important; width: 25% !important">
            <h5 style="font-weight: bold;">Administrador del contrato:</h5>
            <h5>@Model.ResponsableContrato</h5>
            <br /><br />
            <label>__________________________________________________</label>
            <p>Dirección de Desarrollo de Sistemas</p>

        </div>


    </div>-->

</body>
</html>
